dify/carecue_first_chatflow.yml
app:
  description: 问康 CareCue 第一版 Chatflow。仅用 Dify Code/LLM/If-Else/Answer 节点实现安全前置分流，不调用 CareCue 后端、数据库或外部接口。
  icon: stethoscope
  icon_background: '#E0F2FE'
  mode: advanced-chat
  name: 问康 CareCue Agent V1
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: '你好，我是问康。请描述哪里不舒服、持续多久、严重程度、有没有伴随症状。'
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 最近胸口有点疼，有时候左胳膊针痛，经常熬夜，24岁。
    - 胸口压榨性疼痛持续20分钟，左臂也疼，出冷汗，有点喘不上气。
    - 最近看电脑很多，眼睛有点胀，双眼都有，没有视力下降，没有红眼。
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: start-source-risk_engine-target
      source: start
      sourceHandle: source
      target: risk_engine
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: risk_engine-source-branch_router-target
      source: risk_engine
      sourceHandle: source
      target: branch_router
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: branch_router-emergency-answer_emergency-target
      source: branch_router
      sourceHandle: emergency
      target: answer_emergency
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: branch_router-risk_question-answer_risk_question-target
      source: branch_router
      sourceHandle: risk_question
      target: answer_risk_question
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: branch_router-false-llm_stage_report-target
      source: branch_router
      sourceHandle: 'false'
      target: llm_stage_report
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: llm_stage_report-source-answer_stage_report-target
      source: llm_stage_report
      sourceHandle: source
      target: answer_stage_report
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 接收用户本轮症状描述
        selected: false
        title: Start
        type: start
        variables: []
      height: 54
      id: start
      position:
        x: 80
        y: 280
      positionAbsolute:
        x: 80
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: |
          import re
          import json

          def has_any(text, words):
              return any(w in text for w in words)

          def normalize(text):
              return (text or "").strip().replace("，", ",").replace("。", ".")

          def duration_minutes(text):
              m = re.search(r'(\d{1,3})\s*(分钟|分)', text)
              if m:
                  return int(m.group(1))
              m = re.search(r'(\d{1,3})\s*(小时|钟头)', text)
              if m:
                  return int(m.group(1)) * 60
              if "一直" in text or "不缓解" in text or "持续" in text:
                  return 10
              return 0

          def classify_domain(text):
              if has_any(text, ["胸痛", "胸口疼", "胸口痛", "胸闷", "心口痛", "左胸", "压榨"]):
                  return "chest_pain", "胸痛胸闷"
              if has_any(text, ["头痛", "头疼", "头胀", "偏头痛", "眩晕", "头晕"]):
                  return "headache", "头痛头晕"
              if has_any(text, ["眼睛", "眼痛", "眼胀", "红眼", "视力", "看东西", "畏光", "干涩"]):
                  return "eye_discomfort", "眼部不适"
              if has_any(text, ["痘", "皮疹", "红疹", "瘙痒", "荨麻疹", "湿疹", "毛囊"]):
                  return "skin_mild", "皮肤轻症"
              if has_any(text, ["腹痛", "肚子疼", "腹泻", "呕吐", "恶心", "胃痛", "反酸"]):
                  return "gastrointestinal", "胃肠不适"
              if has_any(text, ["嗓子", "咽喉", "咳嗽", "鼻塞", "流涕", "发热", "发烧"]):
                  return "throat_respiratory", "咽喉/呼吸道"
              return "general_discomfort", "一般不适"

          def assess(text, domain):
              minute = duration_minutes(text)
              emergency_reasons = []
              risk_reasons = []
              questions = []

              chest = domain == "chest_pain"
              if chest:
                  chest_quality = has_any(text, ["压榨", "闷紧", "胸闷", "压迫", "喘不上气"])
                  autonomic = has_any(text, ["出冷汗", "冷汗", "大汗", "恶心", "气短", "呼吸困难", "晕", "晕厥", "左臂", "左胳膊", "放射"])
                  if chest_quality and autonomic and minute >= 10:
                      emergency_reasons.append("胸痛/胸闷伴持续不缓解、气短/冷汗/放射痛等组合，需要立即线下排查心肺急症。")
                  else:
                      risk_reasons.append("提到胸痛胸闷，需要先确认持续时间、疼痛性质、是否气短冷汗或放射痛，不能直接归因于熬夜。")
                      if not re.search(r'(\d{1,3})\s*(秒|分钟|分|小时|天)|持续|一直', text):
                          questions.append("胸口不舒服每次大概持续多久，是几秒、几分钟、十几分钟，还是一直不缓解？")
                      if not has_any(text, ["压榨", "闷紧", "针扎", "刺痛", "烧灼", "表面疼"]):
                          questions.append("胸口是压榨感、闷紧感，还是表面刺痛、针扎痛、烧灼感？")
                      if not has_any(text, ["气短", "呼吸困难", "冷汗", "恶心", "头晕", "晕厥", "心慌", "没有"]):
                          questions.append("有没有气短、出冷汗、恶心、头晕、晕厥、明显心慌，或疼痛放到左臂/下颌/后背？")

              if domain == "eye_discomfort":
                  severe_eye = has_any(text, ["突然", "剧烈", "很痛", "眼痛"])
                  vision_loss = has_any(text, ["视力下降", "看不清", "模糊", "看东西模糊"])
                  if severe_eye and vision_loss:
                      emergency_reasons.append("眼痛伴视力下降/看东西模糊，需要尽快眼科急诊或急诊评估。")
                  elif not has_any(text, ["没有视力下降", "无视力下降", "不模糊"]):
                      risk_reasons.append("眼部不适需要先确认是否视力下降、明显红眼、畏光或外伤。")
                      questions.append("有没有视力下降、看东西变模糊、明显红眼、畏光，或近期眼部外伤/异物入眼？")

              if domain == "headache":
                  if has_any(text, ["突然最痛", "爆炸样", "说话不清", "半边", "一侧无力", "意识不清", "抽搐"]):
                      emergency_reasons.append("头痛伴神经功能异常或突然剧烈发作，需要立即急诊。")
                  elif not has_any(text, ["没有手脚无力", "无发热", "好很多", "缓解"]):
                      risk_reasons.append("头痛头晕需要确认是否突然剧烈、是否发热、肢体无力或说话异常。")
                      questions.append("头痛是不是突然达到很严重？有没有发热、脖子僵、说话不清、单侧手脚无力或意识异常？")

              if domain == "skin_mild":
                  if has_any(text, ["呼吸困难", "喘不上气", "面唇肿", "嘴唇肿", "意识"]):
                      emergency_reasons.append("皮疹/过敏样表现伴呼吸困难或面唇肿胀，需立即急诊或急救。")
                  elif not has_any(text, ["不痒", "没有发热", "没有呼吸", "下巴", "脸颊"]):
                      questions.append("皮肤问题持续多久？是粉刺/红疹/风团/水疱/脓疱？有没有瘙痒、疼痛、快速扩散或发热？")

              if domain == "gastrointestinal":
                  if has_any(text, ["剧烈腹痛", "黑便", "血便", "吐血", "意识", "脱水", "板硬"]):
                      emergency_reasons.append("胃肠症状伴剧烈腹痛、出血、脱水或意识异常，需要尽快急诊。")
                  elif not has_any(text, ["没有发热", "没有血便", "不严重"]):
                      questions.append("有没有剧烈腹痛、持续呕吐、黑便/血便、发热或明显口渴尿少？")

              if domain == "throat_respiratory":
                  if has_any(text, ["呼吸困难", "喘不上气", "意识", "咳血", "高热不退"]):
                      emergency_reasons.append("呼吸道症状伴呼吸困难、咳血、高热不退或意识异常，需要尽快急诊。")
                  elif not has_any(text, ["没有发热", "不咳血", "不喘"]):
                      questions.append("有没有呼吸困难、持续高热、咳血、明显吞咽困难或精神状态变差？")

              if emergency_reasons:
                  return "R3", False, [], emergency_reasons
              if questions or risk_reasons:
                  return "R2", True, questions[:3], risk_reasons
              return "R0", False, [], ["当前描述暂未见明确急症组合，但仍需观察症状变化。"]

          def hypothesis_seeds(domain):
              table = {
                  "eye_discomfort": ["视疲劳", "干眼相关不适", "轻度结膜刺激或过敏"],
                  "skin_mild": ["痤疮", "毛囊炎", "接触性皮炎或湿疹样表现"],
                  "throat_respiratory": ["上呼吸道感染", "咽炎", "过敏或鼻后滴漏相关刺激"],
                  "gastrointestinal": ["消化不良", "胃食管反流", "急性胃肠炎或饮食刺激"],
                  "headache": ["睡眠不足/疲劳相关头痛", "紧张型头痛", "偏头痛或其他需排查方向"],
                  "chest_pain": ["胸壁肌肉疼痛", "胃食管反流", "心肺风险需排除"],
                  "general_discomfort": ["需要补充信息后判断的不适方向"]
              }
              return table.get(domain, table["general_discomfort"])

          def build_emergency(text, domain_label, reasons):
              return "\n".join([
                  "【当前风险判断】",
                  "根据你描述的症状组合，目前存在需要立即线下处理的急症风险。",
                  "",
                  "【触发风险的症状组合】",
                  *[f"- {r}" for r in reasons],
                  "",
                  "【现在应该做什么】",
                  "- 建议立即前往急诊；如症状明显、持续不缓解或行动困难，请拨打 120。",
                  "- 尽量让家人陪同，不要独自驾车前往。",
                  "",
                  "【当前不要做什么】",
                  "- 不要等待症状自行缓解后再决定。",
                  "- 不要剧烈活动。",
                  "- 不要自行服药压制症状后继续硬扛。",
                  "",
                  "【给医生看的简短摘要】",
                  f"用户描述：{text}",
                  f"初步症状域：{domain_label}",
                  "线上无法替代现场查体、心电图/影像/眼科检查等评估。"
              ])

          def build_question(text, domain_label, questions, reasons):
              q_lines = []
              for idx, q in enumerate(questions[:3], 1):
                  q_lines.append(f"{idx}. {q}")
              if not q_lines:
                  q_lines = ["1. 请补充症状持续多久、严重程度、是否加重，以及有没有伴随症状。"]
              return "\n".join([
                  "我需要先确认几个危险信号，才能避免把需要线下处理的情况误当成普通不适。",
                  "",
                  f"当前症状方向：{domain_label}",
                  "",
                  "请先回答：",
                  *q_lines,
                  "",
                  "如果已经出现明显呼吸困难、持续加重、意识异常、大量出血、视力明显下降或胸痛持续不缓解，请不要继续线上等待，应尽快线下急诊评估。"
              ])

          def main(query: str) -> dict:
              text = normalize(query)
              domain, domain_label = classify_domain(text)
              risk_level, need_question, questions, reasons = assess(text, domain)
              seeds = hypothesis_seeds(domain)

              branch = "stage_report"
              if risk_level == "R3":
                  branch = "emergency"
              elif need_question:
                  branch = "risk_question"

              facts = {
                  "user_message": text,
                  "primary_domain": domain,
                  "domain_label": domain_label,
                  "risk_level": risk_level,
                  "need_risk_question": need_question,
                  "risk_reasons": reasons,
                  "questions": questions,
                  "hypothesis_seeds": seeds
              }
              return {
                  "branch": branch,
                  "risk_level": risk_level,
                  "domain": domain,
                  "domain_label": domain_label,
                  "facts_json": json.dumps(facts, ensure_ascii=False),
                  "hypotheses": "、".join(seeds),
                  "risk_reasons": "；".join(reasons),
                  "emergency_text": build_emergency(text, domain_label, reasons),
                  "risk_question_text": build_question(text, domain_label, questions, reasons)
              }
        code_language: python3
        desc: 规则版症状域识别、红旗组合评估、分支路由。第一版不读写数据库。
        outputs:
          branch:
            children: null
            type: string
          risk_level:
            children: null
            type: string
          domain:
            children: null
            type: string
          domain_label:
            children: null
            type: string
          facts_json:
            children: null
            type: string
          hypotheses:
            children: null
            type: string
          risk_reasons:
            children: null
            type: string
          emergency_text:
            children: null
            type: string
          risk_question_text:
            children: null
            type: string
        selected: false
        title: Code - 风险前置分流
        type: code
        variables:
        - value_selector:
          - sys
          - query
          variable: query
      height: 54
      id: risk_engine
      position:
        x: 380
        y: 280
      positionAbsolute:
        x: 380
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: emergency
          conditions:
          - comparison_operator: is
            id: condition_emergency
            value: emergency
            varType: string
            variable_selector:
            - risk_engine
            - branch
          id: emergency
          logical_operator: and
        - case_id: risk_question
          conditions:
          - comparison_operator: is
            id: condition_risk_question
            value: risk_question
            varType: string
            variable_selector:
            - risk_engine
            - branch
          id: risk_question
          logical_operator: and
        desc: R3 急症直接输出；R2 未确认危险信号先追问；其他进入阶段报告。
        selected: false
        title: If/Else - 分支路由
        type: if-else
      height: 174
      id: branch_router
      position:
        x: 700
        y: 280
      positionAbsolute:
        x: 700
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#risk_engine.emergency_text#}}'
        desc: R3 急症输出，终止普通线上分析。
        selected: false
        title: Answer - 急症建议
        type: answer
        variables: []
      height: 105
      id: answer_emergency
      position:
        x: 1040
        y: 80
      positionAbsolute:
        x: 1040
        y: 80
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#risk_engine.risk_question_text#}}'
        desc: 风险核查追问，等待用户下一轮补充。
        selected: false
        title: Answer - 风险核查追问
        type: answer
        variables: []
      height: 105
      id: answer_risk_question
      position:
        x: 1040
        y: 280
      positionAbsolute:
        x: 1040
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        desc: 普通分支：基于当前输入和规则摘要生成阶段性症状整理报告。
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 6
        model:
          completion_params:
            max_tokens: 1800
            temperature: 0.2
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - edition_type: basic
          id: prompt_stage_system
          role: system
          text: |
            你是“问康 CareCue”的就医前症状整理助手。
            你的任务是基于用户描述和规则摘要，输出安全、克制、可执行的阶段性整理。
            严格禁止：
            - 确诊或排除严重疾病。
            - 推荐处方药、剂量、疗程。
            - 说“一定没事”“一定是熬夜/焦虑导致”。
            - 对高风险情况建议继续观察。
            输出必须用中文，面向普通用户和长辈，避免内部风险码。
            如果信息不足，要明确哪些信息还需要补充。
        - edition_type: basic
          id: prompt_stage_user
          role: user
          text: |
            用户本轮描述：
            {{#sys.query#}}

            规则节点摘要 JSON：
            {{#risk_engine.facts_json#}}

            请按以下结构输出：
            【当前整理】
            【目前风险边界】
            【可能方向（非确诊）】
            【现在可以先做什么】
            【哪些情况需要尽快就医】
            【还需要补充的信息】
            【给医生看的简短摘要】

            要求：
            - “可能方向”最多 3 个，参考：{{#risk_engine.hypotheses#}}
            - 不出现 R0/R1/R2/R3 等内部码。
            - 不输出药物剂量和疗程。
            - 没有联网资料时要说明“本版未联网核验”。
        selected: false
        title: LLM - 阶段报告
        type: llm
        variables: []
        vision:
          enabled: false
      height: 118
      id: llm_stage_report
      position:
        x: 1040
        y: 500
      positionAbsolute:
        x: 1040
        y: 500
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#llm_stage_report.text#}}'
        desc: 普通阶段性报告。
        selected: false
        title: Answer - 阶段报告
        type: answer
        variables: []
      height: 105
      id: answer_stage_report
      position:
        x: 1360
        y: 500
      positionAbsolute:
        x: 1360
        y: 500
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.8
